body {
    background: lightskyblue;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    background: mediumaquamarine;
}
h2 {
    color: blue;
}